/*

Evaluativo nro. 3
Cátedra: JavaScript
Alumno: Manuel Paz
Cédula: 28.264.712
Sección: N-1113P

*/


@font-face {

    font-family: poppins;
    src: url(fuentes/Poppins-Medium.ttf);
    
}

* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";

}

body {

    min-height: 100vh;
    background: url(imagenes/fondo.png) no-repeat;
    background-size: cover;
    background-position: left;
    color: #fff;

}

.encabezado {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 20px;
    background: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;

}

.logo {
    
    position: auto;
    left: 10%;
    display: flex;
    align-items: center;

}

.logo img {

    width: auto;
    height: 9vh;

}

.barra a {

    position: relative;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 80px;
    
}

.barra a::before {

    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #feaa76;;
    transition: .3s;

}

.barra a:hover::before {

    width: 100%;

}

#menu-icon {

    font-size: 50px;
    color: #feaa76;;
    cursor: pointer;
    z-index: 10001;
    display: none;

}

.wrapper {

    background: transparent;
    padding: 0 20px 0 20px;

}

.principal {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 100px;

}

.row {

    width: 550px;
    height: 700px;
    margin-left: 50px;
    background: #fff;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);

}

.centro {

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.input-box {

    width: 330px;
    height: 600px;
    box-sizing: border-box;

}

.input-box header {

    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding-bottom: 30px;

}

.campo_entrada {

    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 0 10px;
    margin-bottom: -5px;

}

.entrada {

    position: relative;
    height: 45px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    outline: none;
    padding: 20px 10px 20px 10px;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.3);
    font-size: 14px;

}

.imagen {

    position: relative;
    width: 100%;
    padding: 20px 40px 20px 40px;
    margin-bottom: 20px;
    font-size: 14px;
    border: none;
    outline: none;
    height: 60px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);

}

.input-box .campo_entrada label {

    position: absolute;
    top: -10px;
    left: 12px;
    font-size: 13px;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.3)

}

.campo_entrada .entrada:focus ~ label {

    top: -10px;
    left: 12px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.7)

}

.campo_entrada .entrada:focus {

    color: rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid rgba(0, 0, 0, 0.7)

}

.submit {

    border: none;
    outline: none;
    height: 45px;
    background: #c4c2c2;
    transition: .4s;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 10px;

}

.submit:hover {

    background: #f67a2d;
    color: black;

}

.limpiar {

    border: none;
    outline: none;
    height: 45px;
    background: black;
    transition: .4s;
    font-weight: 600;
    color: white;
    margin-top: 30px;

}

.limpiar:hover {

    background: #bb1c23;

}

h2 {

    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    margin-bottom: 30px;
    font-size: 16px;

}

#carListContainer {

  max-height: 560px;
  overflow-y: auto;
  margin-top: 20px;
  margin-right: -10px;

}

#carList {

  margin: 0;

}

.registro > div {

  border: 20px solid #000;
  padding: 15px;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: #feaa76;
  display: grid;

}

img {

  max-width: 100%;
  height: auto;
  padding-top: 10px;
  
}

p {

  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}

.eliminar {

    border: none;
    outline: none;
    height: 60px;
    background: black;
    transition: .4s;
    font-weight: 600;
    color: white;
    margin-top: 20px;

}

.eliminar:hover {

    background: #bb1c23;

}

@media only screen and (max-width: 768px) {

    .texto {

        position: absolute;
        top: 70%;
        text-align: center;

    }

    .texto p, i {

        font-size: 17px;

    }

    .row {

        max-width: 420px;
        width: 100%;
        max-height: 470px;

    }
    
}

@media (max-width: 1240px) {

    header {

        padding: 14px 2%;
        transition: .3s;

    } 

    .barra a {

        padding: 5px 0;
        margin: 0px 20px;

    }

}

@media (max-width: 1175px) {

    #menu-icon {

        display: block;

    }

    .barra {

        position: absolute;
        top: 120%;
        right: -100%;
        width: 250px;
        height: auto;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: all .50s ease;
        box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);

    }

    .barra a {

        display: block;
        margin: 16px 0;
        padding: 0px 25px;
        transition: all .50s ease;

    }

    .barra a:before {

        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 0;
        height: 2px;
        background: black;
        transition: .3s;
    
    }

    .barra a:hover {

        color: #feaa76;
        transform: translateY(5px);

    }

    .barra a.active {

        color: #feaa76;

    }

    .barra.open {

        right: 5%;

    }

}